
<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<title>Champion Template</title>
	

		
	</head>
	

	<body>

		<style type="text/css">

			body{
				background-color:black;
				color:white;
			}

			#championImg{

				width:10%;
				margin: 0 auto;

			}

			#championSplash{
				width: 55%;
				margin: 0 auto;
			}
			
			#referenceHolder #championAbilities{

				width:60%;
				margin: 0 auto;
			}
		</style>
		
		<!--This is a template for getting a library of abilities-->
		<div id="referenceHolder">

		

			<div id="championImg">
				
				<span>Jarvan</span><br>
				

				<img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/champion/JarvanIV.png" alt="">
				
			</div>
			

			<div id="championSplash">
				<img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/JarvanIV_0.jpg" height="500" width="700">
				<label>Splash</label>
			</div>
			

			<div id="championAbilities">
				
				<table>
				
					<tbody>
						
						<tr>
				
							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/passive/JarvanIV_MartialCadence.png" alt="" width="150" height="150"><br>ability 1</td>
							
							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/spell/JarvanIVDragonStrike.png" alt=""  width="150" height="150"><br>ability 2</td>
							
							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/spell/JarvanIVGoldenAegis.png" alt=""  width="150" height="150"><br>ability 3</td>
							
							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/spell/JarvanIVDemacianStandard.png" alt=""  width="150" height="150"><br>ability 4</td>
							
							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/spell/JarvanIVCataclysm.png" alt=""  width="150" height="150"><br>ability 5</td>

							
						</tr>
					
					</tbody>
				
				</table>

			</div>

		</div>
	</body>

</html>