
<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<title>Champion Template</title>
	

		
	</head>
	

	<body>

		<style type="text/css">

			body{
				background-color:black;
				color:white;
			}

			#championImg{

				width:10%;
				margin: 0 auto;

			}

			#championSplash{
				width: 55%;
				margin: 0 auto;
			}
			
			#referenceHolder #championAbilities{

				width:97%;
				margin: 0 auto;
			}
		</style>
		
		<!--This is a template for getting a library of abilities-->
		<div id="referenceHolder">

		

			<div id="championImg">
				
				<span>Gnar</span><br>
				

				<img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/champion/Gnar.png" alt="">
				
			</div>
			

			<div id="championSplash">
				<img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Gnar_0.jpg" height="500" width="700">
				<label>Splash</label>
			</div>
			

			<div id="championAbilities">
				
				<table>
				
					<tbody>
						
						<tr>
				
							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/passive/Gnar_Passive.png" alt="" width="150" height="150"><br>ability 1</td>
							
							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/spell/GnarQ0.png" alt=""  width="150" height="150"><br>ability 2</td>
							
							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/spell/GnarW0.png" alt=""  width="150" height="150"><br>ability 3</td>
							
							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/spell/GnarE0.png" alt=""  width="150" height="150"><br>ability 4</td>
							
							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/spell/GnarQ.png" alt=""  width="150" height="150"><br>ability 5</td>

							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/spell/GnarW.png" alt=""  width="150" height="150"><br>ability 6</td>

							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/spell/GnarE.png" alt=""  width="150" height="150"><br>ability 7</td>


							<td><img src="http://ddragon.leagueoflegends.com/cdn/5.18.1/img/spell/GnarR.png" alt=""  width="150" height="150"><br>ability 8</td>
				
						</tr>
					
					</tbody>
				
				</table>

			</div>

		</div>
	</body>

</html>